<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
<div align="center"><h1>A - Z Countries' lists</h1></div>
				<div align="center">
				<form>
					<ul id="sort">
					{% for s in alpha %}
					<a href="/StartwithAlphabetic/{{s}}"><li>{{s}}</li></a>
					{% endfor %}
				</ul>
				</form>
				<div>{% block content %}
				   {% endblock %}
				</div>
			
		<br>
		<div class="button back-button"> <a href="/">Back Menu</a> </div>
		</div>
		</body>
</html>