<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
		<header id="header">
  <div class="intro text-center">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
<div align="center">
	<div><h1>World Factbook</h1></div>
		<div>There are {{length_of_w}} countries in the world.</div>
		<br>
		<img src='/static/photos/2.gif' width="100"><h1>A - Z Countries' lists</h1></div>
				<div align="center">
				<form>
					<ul id="sort" class="all">
					{% for s in alpha %}
					<a href="/StartwithAlphabetic/{{s}}"><li>{{s}}</li></a>
					{% endfor %}
				</ul>
				</form>
				<div>{% block content %}
				   {% endblock %}
				</div>
			
		<br>
		<div class="button back-button"> <a href="/">Home</a> </div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</header>
		</body>
</html>