<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
		{% extends "alpha.html" %}
  		{% block content %}
<div align="center">
  		<br>
		<ul class="clo">
			{% for c in w %}
			<li><a href='/countryByName/{{c.name}}'>
				<img src='/static/flags/{{c["tld"]}}.gif' class='tiny'>
			 {{c.name}}</a></li>
			{% endfor %}
		</ul>
		<div class='button nav_button'>
			{% if (page_number-page_size) < 0 %}
			<a href='/begin/{{page_number-page_size}}'><input type="button" name="previous" disabled="" value="Previous Page"></a>
			{% else %}
			<a href='/begin/{{page_number-page_size}}'><input type="button" name="previous" value="Previous Page"></a>
			{% endif %}
		</div>
		<div class='button nav_button'>
			{% if (page_number+page_size) > 195 %}
			<a href='/begin/{{page_number+page_size}}'><input type="button" name="next" disabled="" value="Next Page"></a>
			{% else %}
			<a href='/begin/{{page_number+page_size}}'><input type="button" name="next" value="Next Page"></a>
			{% endif %}
		</div>
		<div class="button create-button"> <a href="/create"> Create </a> </div>
	</div>{% endblock %}
</div>
</div>
</div>
	</body>
</html>