<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css"  href="/static/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/font-awesome.css">
<link rel="stylesheet" type="text/css"  href="/static/style1.css">
<link rel="stylesheet" type="text/css" href="/static/prettyPhoto.css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/static/modernizr.custom.js"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Header -->
<header id="header">
  <div class="intro text-center">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>World Factbook</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="nav">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      </div>

      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
           <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home<span class="caret"></span></a>
                        <ul class="dropdown-menu" id="usaDropdown" role="menu">
                            <li><a href="/home/">All Countries</a></li>
                            <li><a href="/alphalist/">A - Z Countries</a></li>
                        </ul>
                    </li>
          <li> <a href="/continent/Asia">Asia</a></li>
          <li> <a href="/continent/Africa">Africa</a> </li>
          <li> <a href="/continent/Caribbean">Caribbean</a></li>
          <li> <a href="/continent/Europe">Europe</a> </li>
          <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Americas<span class="caret"></span></a>
                        <ul class="dropdown-menu" id="usaDropdown" role="menu">
                            <li><a href="/continent/North America">North America</a></li>
                            <li><a href="/continent/South America">South America</a></li>
                        </ul>
                    </li>
                    <li> <a href="/continent/Oceania">Oceania</a></li>
                    
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- World -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>World</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="/static/photos/animated-globe-gif-Flag-globe-2.gif" class="img-responsive" alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <p>The world is the planet Earth and all life upon it, including human civilization. In a philosophical context, the "world" is the whole of the physical Universe, or an ontological world (the "world" of an individual). In a theological context, the world is the material or the profane sphere, as opposed to the celestial, spiritual, transcendent or sacred spheres. "End of the world" scenarios refer to the end of human history, often in religious contexts.
          The history of the world is commonly understood as spanning the major geopolitical developments of about five millennia, from the first civilizations to the present. In terms such as world religion, world language, world government, and world war, the term world suggests an international or intercontinental scope without necessarily implying participation of every part of the world.
          The world population is the sum of all human populations at any time; similarly, the world economy is the sum of the economies of all societies or countries, especially in the context of globalization. Terms such as "world championship", "gross world product", and "world flags" imply the sum or combination of all sovereign states.</p>
          <a href="#portfolio" class="btn btn-primary btn-lg page-scroll">World Maps</a> </div>
      </div>
    </div>
  </div>
</div>
<!-- Population Section -->
<div id="skills" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>2018 Population %</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="59.55"> <span class="percent">95</span> </span>
        <h4>Asia</h4>
      </div>
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="16.87"> <span class="percent">85</span> </span>
        <h4>Africa</h4>
      </div>
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="0.58"> <span class="percent">80</span> </span>
        <h4>Caribbean</h4>
      </div>
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="9.73"> <span class="percent">80</span> </span>
        <h4>Europe</h4>
      </div>
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="4.77"> <span class="percent">80</span> </span>
        <h4>North America</h4>
      </div>
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="5.61"> <span class="percent">80</span> </span>
        <h4>South America</h4>
      </div>
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="0.54"> <span class="percent">80</span> </span>
        <h4>Oceania</h4>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>World Maps</h2>
      <hr>
    </div>
    <div class="categories">
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/static/photos/world-map-clickable.gif" title="World Map" rel="prettyPhoto">
              <div class="hover-text">
                <h4>World</h4>
                <small>World Map</small> </div>
              <img src="/static/photos/world-map-clickable.gif" class="img-responsive" alt="World Map"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/static/photos/asia_map.jpg" title="ASIA" rel="prettyPhoto">
              <div class="hover-text">
                <h4>ASIA</h4>
                <small>Asia Map</small> </div>
              <img src="/static/photos/asia_map.jpg" class="img-responsive" alt="Asia Map"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/static/photos/africa.jpg" title="AFRICA" rel="prettyPhoto">
              <div class="hover-text">
                <h4>AFRICA</h4>
                <small>Africa Map</small> </div>
              <img src="/static/photos/africa.jpg" class="img-responsive" alt="Africa Map"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/static/photos/caribbean_map.gif" title="CARIBBEAN" rel="prettyPhoto">
              <div class="hover-text">
                <h4>CARIBBEAN</h4>
                <small>Caribbean Map</small> </div>
              <img src="/static/photos/caribbean_map.gif" class="img-responsive" alt="Caribbean Map"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/static/photos/europe-map.gif" title="EUROPE" rel="prettyPhoto">
              <div class="hover-text">
                <h4>EUROPE</h4>
                <small>Europe Map</small> </div>
              <img src="/static/photos/europe-map.gif" class="img-responsive" alt="Europe Map"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/static/photos/northamericasmall.jpg" title="NORTH AMERICA" rel="prettyPhoto">
              <div class="hover-text">
                <h4>NORTH AMERICA</h4>
                <small>North America Map</small> </div>
              <img src="/static/photos/northamericasmall.jpg" class="img-responsive" alt="North America Map" width="75%" align="center"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/static/photos/the-world-map-south-america-best-of-interactive-map-south-america-puzzle-world-maps-new-of-the-world-map-south-america.jpeg" title="SOUTH AMERICA" rel="prettyPhoto">
              <div class="hover-text">
                <h4>SOUTH AMERICA</h4>
                <small>South America Map</small> </div>
              <img src="/static/photos/the-world-map-south-america-best-of-interactive-map-south-america-puzzle-world-maps-new-of-the-world-map-south-america.jpeg" class="img-responsive" alt="South America Map" width="75%" align="center"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/static/photos/world-maps-sold-in-australia-copy-oceania-map-of-world-maps-sold-in-australia.jpeg" title="OCEANIA" rel="prettyPhoto">
              <div class="hover-text">
                <h4>OCEANIA</h4>
                <small>Oceania Map</small> </div>
              <img src="/static/photos/world-maps-sold-in-australia-copy-oceania-map-of-world-maps-sold-in-australia.jpeg" class="img-responsive" alt="Oceania Map"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Achievements Section -->
<div id="achievements" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>2018 Populations</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="200ms">
        <div class="achievement-box"> <span class="count">4,545,133,094</span>
          <h4>Asia</h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="400ms">
        <div class="achievement-box"> <span class="count">1,287,920,518</span>
          <h4>Africa</h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="600ms">
        <div class="achievement-box"> <span class="count">44,155,323</span>
          <h4>Caribbean</h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="800ms">
        <div class="achievement-box"> <span class="count">742,648,010</span>
          <h4>Europe</h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="1000ms">
        <div class="achievement-box"> <span class="count">363,844,490</span>
          <h4>North America</h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="1200ms">
        <div class="achievement-box"> <span class="count">428,240,515</span>
          <h4>South Amercia</h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="1400ms">
        <div class="achievement-box"> <span class="count">41,261,212</span>
          <h4>Oceania</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Modified by<a href="http://www.geplusfocker@gmail.com" rel="nofollow"> geplusfocker@gmail.com</a></p>
    </div>
  </div>
</div>
<script type="text/javascript" src="/static/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="/static/bootstrap.js"></script> 
<script type="text/javascript" src="/static/SmoothScroll.js"></script> 
<script type="text/javascript" src="/static/easypiechart.js"></script> 
<script type="text/javascript" src="/static/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="/static/jquery.isotope.js"></script> 
<script type="text/javascript" src="/static/jquery.counterup.js"></script> 
<script type="text/javascript" src="/static/waypoints.js"></script> 
<script type="text/javascript" src="/static/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="/static/contact_me.js"></script> 
<script type="text/javascript" src="/static/main.js"></script>
</body>
</html>