<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
<div align="center">
		<div><h1>World Factbook</h1></div>
		<div>There are {{length_of_w}} countries in the world.</div>
		<img src='/static/photos/2.gif' width="100">
			<div>
    <a href="/continent/Asia">Asia</a>
    <a href="/continent/Africa">Africa</a>
    <a href="/continent/Caribbean">Caribbean</a>
    <a href="/continent/Oceania">Oceania</a>
    <a href="/continent/Europe">Europe</a>
    <a href="/continent/North+America">North America</a>
    <a href="/continent/South+America">South America</a>
  </div>
		<ul>
			{% for c in w %}
			<li><a href='/countryByName/{{c.name}}'>
				<img src='/static/flags/{{c["tld"]}}.gif' class='tiny'>
			 {{c.name}}</a></li>
			{% endfor %}
		</ul>
		<div class='button nav_button'>
			{% if (page_number-page_size) < 0 %}
			<a href='/begin/{{page_number-page_size}}'><input type="button" name="previous" disabled="" value="Previous Page"></a>
			{% else %}
			<a href='/begin/{{page_number-page_size}}'><input type="button" name="previous" value="Previous Page"></a>
			{% endif %}
		</div>
		<div class='button nav_button'>
			{% if (page_number+page_size) > 195 %}
			<a href='/begin/{{page_number+page_size}}'><input type="button" name="next" disabled="" value="Next Page"></a>
			{% else %}
			<a href='/begin/{{page_number+page_size}}'><input type="button" name="next" value="Next Page"></a>
			{% endif %}
		</div>
		<div class="button create-button"> <a href="/create"> Create </a> </div>
	</div>
</div>
</div>
	</body>
</html>